body{
    background-image: url(img/pizzabg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.navbar{
    font-size: 20px;
    border: 1px solid black;
}
.header{
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.7);
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
}
li{
    padding: 10px;
    text-align: center;
    width: 10%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid black;
    flex-wrap: wrap;
}
header{
    background-color: rgb(255, 135, 135, 0.7);
}
.Menu{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    background-color: rgb(255, 255, 255, 0.6);
    margin-bottom: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
}
.item > img{
    max-width: 500px;
    box-shadow: 2px 2px 5px;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 2px gray;
}
label{
    display: block;
    padding:10px ;
}
input{
    width: 100%;
    font-weight: bold;
}
.order{
    display: flex;
    width: 1000px;
    margin: 20px auto 20px auto;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, .8);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
}


